* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	color: #6a6a6a;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: Raleway;
	font-weight: 400;
	background: #fafafa;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/* ----------------------------------------------- */

html {
	scroll-behavior: smooth; 
}

body {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.header {
	background: rgb(44, 94, 181);
}

.main {
	height: 100%;
}

.footer {
	background: rgb(44, 94, 181);
}

.container {
	max-width: 1440px;
	margin: 0 auto;
}

.nav-list {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.nav-link {
	font-size: 20px;
	padding: 0 20px;
	line-height: 50px;
	transition: .3s;
	color: whitesmoke;
	text-decoration: none;
}

.nav-link:hover {
	color: #e14141;
}

.main-container {
	display: flex;
	flex-wrap: wrap;
}
 
.section {
	width: calc(50% - 20px);
	padding: 10px;
	padding-bottom: 35px;
	border-bottom: 1px solid rgb(44, 94, 181);
}

.section-education, .section-english {
	border-bottom: none;
}


@media (max-width: 768px) {
	.section {
	  width: 100%;
	}
}

.section-profile {
	display: flex;
	justify-content: space-around;
	width: 100%;
	padding: 50px 30px 35px;
	border-bottom: 15px solid rgb(44, 94, 181);
}

.section-profile-logo {
	width: 200px;
	height: 200px;
	object-fit: contain;
	border-radius: 50%;
	box-shadow: 0 1px 4px rgb(0 0 0 / 60%);
	filter: grayscale(0.2) brightness(1.05);
	transition: .3s;
}

.section-title {
	font-size: 24px;
	font-weight: 400;
	text-transform: uppercase;
	letter-spacing: 5px;
	color: #e14141;
}

.section-subtitle {
	margin-top: 20px;
	color: #5c5c5c;
	line-height: 50px;
	font-weight: 300;
	letter-spacing: 2px;
}

.section-profile-title {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-content: center;
	text-align: center;
	text-transform: uppercase;
	line-height: 1.5;
}

.footer-container {
	display: flex;
	justify-content: center;
	align-items: center;
	list-style: none;
}

.footer-year {
	color: whitesmoke;
}